<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">    
    <title>SMS Tweet Application</title>
</head>

<body>
    <h1>SMS Tweet Application using Globe</h1>
    <ul>
    {% for t in texts %}
        <li>{{ t.source }} -- {{ t.msg }} -- {{ t.timestamp }}</li>
    {% endfor %}
    </ul>
</body>
</html>
