body {
    background: #f8f8f8;
    font: 13px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
}

ul {
    list-style-type: none;
}

.tweets {
    margin: 20px 0 10px 0;
    font-size: 15px;
}

.msg {
    display: block;
    margin: 10px 0 20px 30px;
    font-size: 20px;
    font-style: italic;
    font-family: 'ProximaNovaLight','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.topbanner h1 {
    font-size: 40px;
    font-weight: 100;
    line-height: .9em;
    margin: 50px 0 8px 0;
    text-decoration: none;
    outline: none;
}

@font-face{
    font-family:'ProximaNovaLight';
    src:url('../fonts/ProximaNova-Light.eot');
    src:url('../fonts/ProximaNova-Light.woff') format('woff'),url('../fonts/ProximaNova-Light.ttf') format('truetype'),url('../fonts/ProximaNova-Light.svg') format('svg');
    font-weight:400;
    font-style:normal;
}
